@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

:root {
  --background: hsl(257, 40%, 49%);
  --button-hover: hsl(300, 69%, 71%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg-desktop.svg");
  background-color: var(--background);
  background-size: cover;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 50px;
  flex-wrap: wrap;
}

.content {
  max-width: 40%;
  padding: 30px;
}

.image {
  align-items: center;
  display: flex;
}

.image img {
  width: 800px;
}

#header {
  font-weight: 600;
  font-size: 40px;
  font-style: normal;
  margin-top: 40px;
}

#description {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register-btn {
  padding: 15px 60px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 11px 11px 31px -8px rgba(0, 0, 0, 0.75);
  transition: background-color 0.3s;
  color: var(--background);
  border-radius: 30px;
  border: none;
}

#register-btn:hover {
  background-color: var(--button-hover);
}

nav {
  margin: 10px 30px;
  padding: 15px;
  max-width: 100px;
}

.social-icons {
  float: right;
  margin-top: 35%;
}

.social-icons img {
  width: 45px;
  padding: 7px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-icons img:hover {
  background-color: var(--button-hover);
}

.fa {
  padding: 15px;
  font-size: 40px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: url("./images/bg-mobile.svg");
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
  }

  .content {
    max-width: 90%;
    padding: 10px;
  }
  .image img {
    width: 100%;
  }

  nav {
    margin: 8px 20px;
    padding: 10px;
    max-width: 100px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    float: none;
  }
}
